<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Employee Registration Form</h3>
    <form action="/index" method="POST">
        <div>
            <input type="text" name="name" placeholder="Name*">
            <input type="email" name="email" placeholder="Your Email*">
        </div>
        <div>
            <input type="number" name="phoneNo" placeholder="Your Phone No.*">
            <input type="number" name="age" placeholder="Enter Your Age *">
        </div>
        <div>
            <input type="password" name="password" placeholder="Password*">
            <input type="password" name="confirmPassword" placeholder="Confirm Password*">
        </div>

            Gender:
         <input type="radio" id="m" name="gender" value="male">
        <label for="m">Male</label>
         <input type="radio" id="f" name="gender" value="female">
        <label for="f">Female</label>
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
</body>
</html>